.oto-flex-space-bet {
  justify-content: space-between;
}

.oto-bg-white {
  background-color: white;
}

.oto-text-capitalze {
  text-transform: capitalize;
}

.oto-flex-box {
  display: flex;
}

.oto-flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
