
@charset "utf-8";

@font-face {
  font-family: IBMPlexSans-Regular;
  font-style: normal;
  src: url("../assets/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: IBMPlexSans-Medium;
  font-style: normal;
  src: url("../assets/IBMPlexSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: IBMPlexSans-SemiBold;
  font-style: normal;
  src: url("../assets/IBMPlexSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: IBMPlexSans-Bold;
  font-style: normal;
  src: url("../assets/IBMPlexSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: OpenSans-Regular;
  font-style: normal;
  src: url("../assets/OpenSans-Regular.ttf") format("truetype");
}

/* Abstracts */
@import "./abstracts/variables";
@import "./abstracts/mixins";

/* Vendor */
// @import "./vendor/react-bootstrap";
@import "./vendor/react-md";
@import "./vendor/oto-multi-vis";

/* Base */

/* Layout */
@import "./layout/footer";
@import "./layout/header";
@import "./layout/main";
@import "./layout/screen";

/* Components */
@import "./components/confirmation";
@import "./components/button";
@import "./components/diagnosis-score";
@import "./components/dialog";
@import "./components/dropdown";
@import "./components/icon";
@import "./components/list";
@import "./components/loader";
@import "./components/recap";
@import "./components/recording";
@import "./components/texts";
@import "./components/textinput";
@import "./components/toast";
@import "./components/spacer";
@import "./components/addon";
@import "./components/table";

/* Pages */
@import "./pages/login";
@import "./pages/account";
@import "./pages/settings";
@import "./pages/review";
@import "./pages/dpp";
@import "./pages/wizard";
@import "./pages/phases";

/* Themes */
